
  body{
      font-family:"Kodchasan", Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      height: 100%;
  }
  
  html{
      margin: 0;
      padding: 0;
      height: 100%;
  }
  
  .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }
  
  .content {
      flex: 1;
  }
  
  
  /*
  12 COLUMNAS
  CADA COLUMNA TIENE UN TAMAÑO DE 8.33% CON RESPECTO A LA PANTALLA
  Ya cuenta con el display tipo Flex
  */
  .margenes_generales{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 50px; /*Tamaño del encabezado*/
      margin-left: 16.66%;  /*2 COLUMNAS*/
      margin-right: 16.66%;  /*2 COLUMNAS*/
      margin-bottom: 50px; /*Espacio Free*/
  
      /* border: 1px solid #ff0000; */
  }
  
  /*
  STYLES PARA DIFERENTES TAMAÑOS DE CONTAINERS
  Ya que quitando las 4 columnas de los lados, nos quedan 8 columnas dentro
  Cada columna tiene un tamaño de 12.5%
  */
  
  .uno,.dos,.tres,.cuatro,.cinco,.seis,.siete,.ocho{
      height: auto; /* Hace que la altura del contenedor se ajuste automáticamente al contenido */
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  .uno{
      width: 12.5%;
     

  }
  .dos{
      width: 25%;
    background-color: #1cf608;
  
  }
  .tres{
      width: 37.5%;
      background-color: #fff700;
  
  }
  .cuatro{
      width: 50%;
      background-color: #08a7f6;
  }
  .cinco{
      width: 62.5%;
     
  }
  .seis{
      width: 75%;
     
  }
  .siete{
      width: 87.5%;
    background-color: #a946fb; 
  }
  .ocho{
      width: 100%;
 
  }
  #a{
  text-decoration: none;
  color:black;
  }
  .column-form, .cuadro-fondo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;}
   
    .cuadro-fondo{

        background-color: #FFE600; /*color amarillo mercado libre*/
        border-radius: 1em;
        box-shadow: 0 2px 10px #A6B49B;
    
    }
    .social-login, .datos {
        display: flex;
        height: auto;
        flex-wrap: wrap;
        background-color: #faf9f2; /* blanco mercado libre */
        justify-content: flex-start;
        margin-top: 10px;
        padding: 10px; /* Padding unificado */
        border-radius: 10px;
        box-shadow: 0 2px 4px #A6B49B;
        color: #9E9E9E;
    }
    /* Estilos adicionales para el textarea */
   textarea {
        width: 100%; /* Ocupa todo el ancho del recuadro */
        resize: vertical; /* Permitir redimensionar verticalmente */
        border: 1px solid #ccc; /* Borde para el textarea */
        border-radius: 5px; /* Bordes redondeados */
        padding: 10px; /* Espaciado interno */
    }
    
.datos{
    width: 80%;
}

    .datos input {
        width:100%;
        padding: 5px;
    }
    .registro{
        color: #2D3773; /*color azul mercado libre*/
        width: 100%;
    }
    .link{
        font-size: .9em;
        color: #2D3773;
    }
    #iniciarsesiongoogle{
        display: flex;
        border-radius: 2em;
        justify-content: center;
    }
    #imgGoogle{
        width: 25;
        height: 25px;
        margin-right: 10px;
    }

    /*PARA EL ENCABEZADO*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .40em;
        background-color: #FFE600;
        border-bottom: 1px solid #ccc;
    }

    .logo {
        width: 5em; /* Ajusta el tamaño según tu logo */
    }

    .search-container {
        width: 20em;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        width: 60%;
    }

    .search-container input {
        border: none;
        outline: none;
        padding: 5px;
        width: 80em;
    }


    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    }

/*PARA EL FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2D3773;
    border-top: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

.footer-logo {
    width: 100px; /* Ajusta el tamaño según tu logo */
    margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

.footer-text {
    font-size: 14px; /* Tamaño de fuente para el texto */
    color: #ffffff; /* Color del texto */
    margin: 5px 0; /* Margen para separar las líneas */
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0; /* Espacio entre los enlaces y el texto */
}

.footer-links a {
    margin: 0 15px; /* Espacio entre los enlaces */
    text-decoration: none; /* Sin subrayado */
    color: #e9eef4; /* Color del enlace */
}

.social-icons img {
    width: 20px; /* Tamaño de los íconos de redes sociales */
    margin: 0 10px; /* Espacio entre los íconos */
}

/*INGRESO DE DATOS*/
.save-button {
    margin-top: 20px;
    width:wrap;
    background-color: #2D3773; /* Color de fondo verde */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    align-self: center;
}

.save-button:hover {
    background-color: #6572b9; /* Color más oscuro al pasar el mouse */
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* Opciones de Pago */
.payment-options {
    padding: 20px;
    width: 60%;
    background-color: #f8f8f8;
}

.payment-options h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.option {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #e6e6e6;
}

.option input[type="radio"] {
    margin-right: 15px;
    accent-color: #007fff;
}

.option img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Resumen de Compra */
.summary {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: left;
}
.summary h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.summary p {
    margin: 5px 0;
    color: #555;
}

.coupon-link {
    color: #007fff;
    text-decoration: none;
}

.total {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Botones */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.button.cancel {
    background-color: #d9534f;
}


/* Payment Details and Product */
.shipment-details, .payment-details {
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 5px;
}

.product {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.product img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-info {
    font-size: 0.9em;
}

/* Summary and Button */
.summary h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.summary p {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}

.confirm-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.confirm-button:hover {
    background-color: #0056b3;
}


/* Estilos de contenedor PSE */
.pse-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.pse-container h3 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.bank-list label {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.bank-list input[type="radio"] {
    margin-right: 10px;
}

.pse-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-button {
    color: #007bff;
    text-decoration: none;
}

.modal-confirm-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-confirm-button:hover {
    background-color: #0056b3;
}

/* Estilos para la ventana emergente */
.modal {
    display: none; /* Oculta la ventana por defecto */
    position: fixed; /* Mantiene la ventana en la misma posición */
    z-index: 1; /* Asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Permite desplazamiento si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo negro */
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

/* Estilos para el contenido de la ventana */
.modal-content, .notification {
    background-color: #fefefe;
    margin: 15% auto; /* Centra la ventana */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho de la ventana */
    max-width: 500px; /* Ancho máximo */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centra el texto dentro del contenedor */
}
h2{
    color: #2D3773;
    justify-self: center;
}

/* Estilos para el botón de cerrar */
.close {
    color: #FFE600;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaaec4;
    text-decoration: none;
    cursor: pointer;

}
#guardarCambios{
    text-decoration: none;
}

.notification {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center;
    align-items: center; /* Centra el contenido */
    border: none;
    color: #ffffff; /* Color del texto */
    padding: 15px; /* Espaciado interno */
    position: fixed; /* Posición fija */
    width: auto;
    top: 20px; /* Distancia desde la parte superior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición para centrar */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    border-radius: 10px; /* Bordes redondeados */
    display: flex; /* Usar flexbox para alinear el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    background-color: #2D3773; /* Color de fondo para la notificación */
    box-shadow: 0 2px 30px rgba(5, 2, 47, 0.1); /* Sombra para darle profundidad */
}

.close {
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón de cerrar */
    font-size: 20px; /* Tamaño de la X */
    margin-right: 15px; /* Espaciado a la derecha */
    position: absolute; /* Posición absoluta para mover la X */
    top: 5px; /* Distancia desde la parte superior */
    left: 10px; /* Distancia desde la izquierda */
}
.notification-text {
    margin-left: 15px; /* Espacio superior para separar el texto de la X */
    
    
}

/* Contenedor de la página de denuncias */
.denuncias-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #faf9f2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.denuncias-container h2 {
    color: #2D3773;
    font-size: 1.8em;
    margin-bottom: 10px; /* Ajusta el espacio entre el título y el párrafo */
}

.denuncias-container p {
    color: #555;
    margin-bottom: 25px;
    font-size: 1em;
}



/* Estilos del formulario */
.denuncia-form .form-group {
    margin-bottom: 15px;
}

.denuncia-form label {
    display: block;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
}

.denuncia-form input[type="text"],
.denuncia-form input[type="email"],
.denuncia-form select,
.denuncia-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.denuncia-form textarea {
    resize: vertical;
}

.denuncia-form input[type="file"] {
    margin-top: 5px;
}


/* Botón de envío */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #2D3773;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #6572b9;
}
